:root,
html {
    --main: #FFD610;
    --sub: #3047ad;
    --gray: #555;
    --text: #242424;
    --white: #fff;
}



/*　ハンバーガーボタン　*/
.hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 13px;
    top   : 24px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
}
.hamburger span {
    display : block;
    position: absolute;
    width   : 9px;
    height  : 9px;
    border-radius: 1rem;
    left    : 20px;
    background : var(--sub);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 23px;
  }
  .hamburger span:nth-child(3) {
    top: 36px;
  }
  
  /* ナビ開いてる時のボタン */
.hamburger.active {
    position: fixed;
    z-index: 10000;
}
.hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    background :#fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
}
  
.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
    top: 16px;
    left: 6px;
    background :#fff;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
}

nav.globalMenuSp {
    position: fixed;
    z-index : -1;
    top  : 0;
    left : 0;
    color: #fff;
    background: rgba(0,0,0,0.7);
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
}

nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100vh;
}

nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
    font-size: 17px;
    padding-bottom: 9px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
}
nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
}
@media screen and (max-width: 1050px){
    nav.globalMenuSp ul li:hover{
    background :#ddd;
    }
}

  
  nav.globalMenuSp ul li a {
    display: block;
    color: var(--text);
    padding: 1em 0;
    text-decoration :none;
  }
  
  nav.globalMenuSp.active {
    opacity: 1;
    position: fixed;
    z-index: 9999;
  }

.hamburger-text {
    background-color: var(--white);
    width: 70%;
    height: 60%;
    border-radius: 1rem;
    margin-top: 220px;
}

@media screen and (min-width: 1050px) { /* 1050px以上の場合 */
    .hamburger {
        display: none;
    }
    nav.globalMenuSp {
        opacity: 1;
        width: 25%;
        z-index: 99999;
        background-color: var(--main);
    }

    .hamburger-text {
        background-color: var(--main);
        display: block;
        width: calc(100% - 25%);
        height: 80vh;
        text-align: left;
        margin-top: 313px;

    }
    nav.globalMenuSp ul li a  {
        color: var(--white);
    }
    
    .hamburger-text a {
        display: inline-block;
        padding-bottom: 4px;
        position: relative;
        font-size: 1.5rem;
    }
    .hamburger-text a::after {
        background-color: var(--white);
        bottom: 0;
        content: '';
        display: block;
        height: 3px;
        left: 0;
        position: absolute;
        transition: .5s all;
        width: 0;
    }
    .hamburger-text a:hover {
        transition: .5s all;
        font-size: 2rem;
    }
    .hamburger-text a:hover::after {
        width: 50%;
    }
    .hamburger-text a:active::after {
        width: 50%;
    }
}

.history__text h2 {
    padding: 0;
}


@media screen and (min-width: 1050px) { /* 1050px以上の場合 */
    /* クラス名に "container" を含む要素を指定 */
    .container {
        width: 75%;
        margin-right: 0;
    }

}



.hamburger.active span {
    width: 40px;
}







@import url('compass/css3');

body {
  background-color: lighten(#c4c4c3, 15%);
}
#head .home-anime svg {
    position: absolute;
}

.cage {
  position: fixed;
  bottom: 0;
  top: 90%;
  left: -10%;
  right: -10%;
  background-color: var(--sub);
}
.cage.two .box {
  -webkit-filter: url("#goo2");
  filter: url("#goo2");
}
.cage .box {
  width: 100%;
  margin: auto;
  background-color: var(--sub);
  position: relative;
  display: block;
  height: 300px;
  -webkit-filter: url("#goo");
  filter: url("#goo");
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.drop-one {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  background-color: var(--sub);
  top: 0;
  left: 70%;
  -webkit-animation: big-drop 2s ease infinite;
  -moz-animation: big-drop 2s ease infinite;
  animation: big-drop 2s ease infinite;
}

.drop-two {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  background-color: var(--sub);
  top: 10px;
  left: 71%;
  -webkit-animation: big-drop 2s ease infinite 0.075s;
  -moz-animation: big-drop 2s ease infinite 0.075s;
  animation: big-drop 2s ease infinite 0.075s;
}

.drop-three {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  background-color: var(--sub);
  top: 10px;
  left: 71%;
  -webkit-animation: small-drop 2s ease infinite 1s;
  -moz-animation: small-drop 2s ease infinite 1s;
  animation: small-drop 2s ease infinite 1s;
}

.drop-four {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  background-color: var(--sub);
  top: 10px;
  left: 71%;
  -webkit-animation: small-drop 2s ease infinite 1.075s;
  -moz-animation: small-drop 2s ease infinite 1.075s;
  animation: small-drop 2s ease infinite 1.075s;
}

@-webkit-keyframes big-drop {
  0% {
    top: 25%;
  }
  50% {
    top: -40%;
  }
  100% {
    top: 25%;
  }
}

@-moz-keyframes big-drop {
  0% {
    top: 25%;
  }
  50% {
    top: -40%;
  }
  100% {
    top: 25%;
  }
}

@keyframes big-drop {
  0% {
    top: 25%;
  }
  50% {
    top: -40%;
  }
  100% {
    top: 25%;
  }
}

@-webkit-keyframes small-drop {
  0% {
    top: 25%;
  }
  50% {
    top: -23%;
  }
  100% {
    top: 25%;
  }
}

@-moz-keyframes small-drop {
  0% {
    top: 25%;
  }
  50% {
    top: -23%;
  }
  100% {
    top: 25%;
  }
}

@keyframes small-drop {
  0% {
    top: 25%;
  }
  50% {
    top: -23%;
  }
  100% {
    top: 25%;
  }
}

.ripple {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--sub);
  position: absolute;
  top: 0;
}
.ripple.l-side {
  left: 70%;
  -webkit-animation: l-side-ripple 2s ease infinite 1.2s;
  -moz-animation: l-side-ripple 2s ease infinite 1.2s;
  animation: l-side-ripple 2s ease infinite 1.2s;
}
.ripple.r-side {
  left: 73%;
  -webkit-animation: r-side-ripple 2s ease infinite 1.2s;
  -moz-animation: r-side-ripple 2s ease infinite 1.2s;
  animation: r-side-ripple 2s ease infinite 1.2s;
}

/*@-webkit-keyframes l*/